<div class="row">
	<div class="col s12">
		<div class="card square border grey-border">
			<div class="card-header flex flex-center space-between">
				<h4 class="card-title no-margin white-text">Saidas</h4>
				<button class="btn square blue waves-effect" (click)="saidasForm.openForm()">
					<i class="material-symbols-outlined">add</i>
					Adicionar Saída
				</button>
			</div>
			<div class="card-content no-padding">
				<table>
					<thead>
						<tr>
							<th class="center-align">Data</th>
							<th class="left-align">Descrição</th>
							<th class="center-align">Valor</th>
							<th class="acoes center-align">Ações</th>
						</tr>
					</thead>
					<tbody>
						<ng-container *ngIf="(saidas$ | async)?.length; else noResults">
							<tr *ngFor="let entrada of (saidas$ | async)">
								<td class="center-align">{{ entrada.data_vencimento.toString().substring(0, 10).split('-').reverse().join('/') }}</td>
								<td class="left-align">{{ entrada.descricao }}</td>
								<td class="center-align">{{ entrada.valor.toLocaleString('pt-br', { style: 'currency', currency: 'BRL'}) }}</td>
								<td class="acoes center-align">
									<button type="button" class="btn btn-small rounded waves-effect modal-close blue" (click)="saidasForm.edit(entrada.id)">
										<i class="material-symbols-outlined">edit_square</i>
									</button>
									<button type="button" class="btn btn-small rounded waves-effect red" (click)="saidasForm.removeSaida(entrada.id)">
										<i class="material-symbols-outlined">delete</i>
									</button>
								</td>
							</tr>
						</ng-container>
						<ng-template #noResults>
							<tr>
								<td colspan="4" class="center-align">Nenhum registro encontrado.</td>
							</tr>
						</ng-template>
					</tbody>
				</table>
			</div>
		</div>
		<app-saidas-form />
	</div>
</div>
