<div class="row">
	<div class="col s12">
		<div class="card square border grey-border">
			<div class="card-header flex flex-center space-between">
				<h4 class="card-title no-margin red-text text-darken-2 flex flex-center gap-10">
					<i class="material-symbols-outlined">upload</i>
					<span>Saidas</span>
				</h4>
				<button class="btn btn-small square blue waves-effect" (click)="saidasForm.openForm()" *ngIf="group === 'admin'">
					<i class="material-symbols-outlined">add</i>
					<span class="hide-on-small-only">Adicionar Saída</span>
				</button>
			</div>
			<div class="card-content no-padding">
				<table>
					<thead>
						<tr>
							<th class="center-align">Data</th>
							<th class="left-align">Descrição</th>
							<th class="center-align">Valor</th>
							<th class="acoes center-align"><span *ngIf="group === 'admin'">Ações</span></th>
						</tr>
					</thead>
					<tbody>
						<ng-container *ngIf="saidasList()?.length; else noResults">
							<tr *ngFor="let saida of saidasList()">
								<td class="center-align">{{ saida.data_vencimento.toString().substring(0, 10).split('-').reverse().join('/') }}</td>
								<td class="left-align">{{ saida.descricao }}</td>
								<td class="center-align">{{ saida.valor.toLocaleString('pt-br', { style: 'currency', currency: 'BRL'}) }}</td>
								<ng-container *ngIf="group === 'admin'; else condomino">
									<td class="acoes center-align">
										<div #dropdown class="btn btn-small rounded waves-effect waves-light transparent z-depth-0" [attr.data-target]="`saida-dropdown-actions-${saida.id}`"><i class="material-symbols-outlined">more_vert</i></div>
										<ul class="dropdown-content" id="saida-dropdown-actions-{{ saida.id }}" style="min-width: 215px;">
											<li *ngIf="saida.comprovantes && saida.comprovantes.length > 0">
												<a class="comprovante-item" (click)="openModalComprovante(saida.comprovantes)">
													<i class="material-symbols-outlined">preview</i>
													<span>Ver comprovante</span>
												</a>
											</li>
											<li>
												<a (click)="saidasForm.edit(saida.id)">
													<i class="material-symbols-outlined">edit_square</i>
													<span>Editar</span>
												</a>
											</li>
											<li>
												<a (click)="saidasForm.removeSaida(saida.id)">
													<i class="material-symbols-outlined">delete</i>
													<span>Excluir</span>
												</a>
											</li>
										</ul>
									</td>
								</ng-container>
								<ng-template #condomino>
									<td class="acoes center-align">
										<a class="pointer flex flex-center justify-center gap-10 comprovante-item" (click)="openModalComprovante(saida.comprovantes)">
											<i class="material-symbols-outlined">preview</i>
											<span>Ver comprovante</span>
										</a>
									</td>
								</ng-template>
							</tr>
						</ng-container>
						<ng-template #noResults>
							<tr>
								<td colspan="4" class="center-align">Nenhum registro encontrado.</td>
							</tr>
						</ng-template>
					</tbody>
				</table>
			</div>
		</div>
		<app-saidas-form />
	</div>
</div>

<div #modalComprovante class="modal modal-fixed-footer">
	<div class="modal-content" style="overflow: hidden;">

		<!-- Imagem -->
		<div *ngIf="fileType?.startsWith('image/')" class="center-align" style="margin-bottom: 1rem">
			<img [src]="fileData" [alt]="fileName" width="300" />
		</div>

		<!-- PDF -->
		<div *ngIf="fileType === 'application/pdf'" class="center-align" style="margin-bottom: 1rem">
			<div *ngIf="fileType === 'application/pdf'" class="center-align" style="margin-bottom: 1rem">
				<pdf-viewer [src]="fileData" [render-text]="true" [show-all]="true" [original-size]="false" [fit-to-page]="false" [zoom-scale]="'page-width'"></pdf-viewer>
			</div>
		</div>

		<!-- Texto -->
		<div *ngIf="fileType?.startsWith('text/')" class="left-align">
			<h6 class="white-text">{{ fileName }}</h6>
			<pre class="raw-file">{{ fileData }}</pre>
		</div>

		<!-- Outros arquivos ou formatos Office (Word, Excel, PowerPoint, CSV) -->
		<div *ngIf="previewUrl && !fileType?.startsWith('image/') && !fileType?.startsWith('text/') && fileType !== 'application/pdf'" id="no-file-preview" class="flex center-align">
			<div class="flex flex-center center-align flex-column justify-center">
				<div class="">
					<h2><i class="material-symbols-outlined">preview_off</i></h2>
					<p>Visualização não disponível para este formato de arquivo.</p>
				</div>
				<div class="">
					<button (click)="downloadFile()" class="btn blue waves-effect">
						<i class="material-symbols-outlined left">download</i>
						Baixar
					</button>
				</div>
			</div>
		</div>

		<!-- Arquivos Inválidos ou Corrompidos -->
		<div *ngIf="!previewUrl && !fileType?.startsWith('image/') && !fileType?.startsWith('text/') && fileType !== 'application/pdf'" class="flex flex-center center-align flex-column justify-center" style="margin: 1rem;">
			<div class="flex flex-center center-align flex-column justify-center">
				<div class="">
					<h2 style="font-size: 6rem;"><i class="material-symbols-outlined">broken_image</i></h2>
					<p>Arquivo indisponível ou corrompido.</p>
				</div>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<div class="left">
			<button (click)="downloadFile()" class="btn blue square blue-border waves-effect" *ngIf="filePreview() && (fileType?.startsWith('image/') || fileType.startsWith('text/') || fileType === 'application/pdf')">
				<i class="material-symbols-outlined">download</i>
				<span> Baixar <span class="hide-on-med-and-down">{{fileName}}</span></span>
			</button>
		</div>
		<div class="right">
			<button class="btn modal-close square white blue-text waves-effect">Fechar</button>
		</div>
	</div>
</div>
