<div class="row">
	<div class="col s12">
		<div id="avisos" class="card square border grey-border">
			<div class="card-header">
				<div class="card-title">
					<h4>Avisos</h4>
					<button class="btn square gradient-45deg-indigo-blue waves-effect" (click)="avisosForm.openForm()" *ngIf="group === 'admin'">
						<i class="material-symbols-outlined">add</i>
					</button>
				</div>
			</div>
			<div class="card-content pt-0">
				<ng-container *ngIf="(avisos$ | async)?.length; else noResults">
					<div class="row aviso" *ngFor="let aviso of (avisos$ | async); let index = index">
						<div class="col s12">
							<div class="card z-depth-0 border grey-border">
								<div class="card-content" [style.text-decoration]="aviso.status === 'draft' ? 'line-through' : null">
									<h4 class="titulo-post">{{ aviso.assunto }}</h4>
									<p class="texto-post">{{ aviso.texto }}</p>
								</div>
								<div class="card-action">
									<p class="data-post" [style.text-decoration]="aviso.status === 'draft' ? 'line-through' : null">{{ aviso.data.substring(0, 10).split('-').reverse().join('/') }} {{ aviso.data.substring(11, 16).split(':').join('h') }}</p>
									<div #dropdown class="btn btn-floating btn-small transparent z-depth-0" [attr.data-target]="`avisos-dropdown-actions-${aviso.id}`" *ngIf="group === 'admin'">
										<i class="material-symbols-outlined">more_vert</i>
									</div>
									<ul id="avisos-dropdown-actions-{{ aviso.id }}" class="dropdown-content" *ngIf="group === 'admin'">
										<li>
											<a (click)="avisosForm.edit(aviso.id)">
												<i class="material-symbols-outlined">edit_square</i>
												Editar
											</a>
										</li>
										<li>
											<a (click)="removeAviso(aviso.id)">
												<i class="material-symbols-outlined">delete</i>
												Excluir
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</ng-container>
				<ng-template #noResults>
					<p>Nenhum aviso publicado.</p>
				</ng-template>

			</div>
		</div>

		<x-dialog />

		<app-avisos-form></app-avisos-form>

	</div>
</div>
